/* comment */



* {
	font-family: 'Exo 2', sans-serif;
}

body{
	background: #a4a4a4;
	margin: 0;
}

div{
	width: 80%;
	height: 100vh;
	background: #797979;
	margin-left: 10%;
}

h1{
	color: rgb(153,204,125);
}

