/* comment */

body{
	color: grey;
	background: #f2f2f2;
	font-family: 'Exo 2', sans-serif;
}

h1{
	color: red;
}

ol{
	color: red;
	outline: red;
	
}

table{
	display: table;
	border-spacing: 4px;
	border-color: red;
}