/* comment */


body{
	position: relative;
	top: 0;
	left: 0px;
	right: 0px;
	height: 90vh;
	background: #9abd67;
	display: 
}

#header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 10vh;
	background: #acd373;
}

#logo{
	height: 7vh;
	padding-left: 5vw;
	position: fixed;
/* i know this is wrong, % shouldn't be arbitrary */
	transform: translate(0, 20%) 
}

#navbox{
	float: right;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 10;
	height: 10vh;
	width: 10vh;
	background: #89a85c;
}

#icon-nav{
	display: block;
	z-index: 20;
	height: 4vh;
	width: 4vh;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}

#textdiv{
	position: absolute;
	top: 25vh;
	width: 100%;

}


#text1{
	position: relative;
	font-weight: bold;
	text-align: center;
	color: #f5f5f5;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 5vmin;
}

#text2{
	position: relative;
	text-align: center;
	color: #f5f5f5;
	font-family: 'Droid Serif', serif;
	font-style: italic;
	font-size: 3.5vmin;
}

#image-arrow{
	margin-top: 5vh;
	height: 3vh;
	position: relative;
	box-sizing: border-box;
	left: 50%;
	transform: translate(-50%)
}


#image-bg{
	position: absolute; 
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	box-sizing: border-box;
	transform: translate(0, 50%)
}